<div class="bread-crumbs">
	<div class="wrap">
	  <nav>
	    <a href="index.html" class="bread-crumbs__link">Главная</a>
	    <a href="faq.html" class="bread-crumbs__link">Вопросы и ответы</a>
	    <a href="faq_internal.html" class="bread-crumbs__link">Средства для укрепления волос</a>
	  </nav>
  </div>
</div>