<div class="bread-crumbs">
	<div class="wrap">
	  <nav>
	    <a href="index.html" class="bread-crumbs__link">Главная</a>
	    <a href="problem.html" class="bread-crumbs__link">О проблеме</a>
	  </nav>
  </div>
</div>