{# fancybox #}
<div class="fancybox-question-form" style="width: 400px;">
	<form action="" class="form-aside js-form-ask-question-popup form-aside--ask-question-popup">
		<h4 class="form-aside__title">
			Задать вопрос
		</h4>
		<p class="form-aside__required">
			<span>Все поля обязательны для заполнения</span>
		</p>

		<div>
			<input class="form-aside__input input-control input-name" type="text" placeholder="Имя">
			<span class="js-validText"></span>
		</div>

		<div>
			<input class="form-aside__input input-control input-mail" type="text" placeholder="E-mail">
			<span class="js-validText"></span>
		</div>
		<div class="dropdown dropdown-on">
	        <div class="dropdown-button">
	          <span class="dropdown-button-title js-select">
	          	Тема
	          </span>
	          <i class="ico ico-arr-down dropdown-arr"></i>
	        </div>
	        <ul class="dropdown-menu">
	          <li class="dropdown-menu-item" >
	            <span class="dropdown-menu-title">
	            	Общие вопросы
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Спреи для наружного применения 2 и 5%
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Сыворотка для роста волос
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Витаминно-минеральный комплекс
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Средства для укрепления волос
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Шампуни, бальзам-ополаскиватель, маска
	            </span>
	          </li>
	          <li class="dropdown-menu-item">
	            <span class="dropdown-menu-title">
	            	Стимулятор роста ресниц и бровей
	            </span>
	          </li>
	        </ul>
	    <span class="js-validText"></span>
	    </div>

	    <div>
			<textarea  class="form-aside__textarea input-control" name="" id="" cols="30" rows="10" placeholder="Вопрос"></textarea>
			<span class="js-validText"></span>
	    </div>
		<button class="aside-button form-aside__button">Отправить</button>
	</form>
		<a href="popup-message.html" class="js-popup-message"></a>
</div>
{# fancybox #}