{% set images = '/assets/images' %}
{% extends "layouts/layout.twig" %}

{% block breadCrumbs %}
	{% include 'include/breadCrumbs/problem.twig' %}
{% endblock %}

{% block content %}
<div class="js-page page page-fact-mifs">
	<div class="wrap">
		<div class="row">

		{# submenu #}
			<div class="col-sm-3 page-submenu page-problem__submenu">
				<nav>
					<a href="problem.html" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-about-g"></i>
						</p>
						<span>
							О проблеме
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-clinik-g"></i>
						</p>
						<span>
							Клинические исследования
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-p-fallout-g"></i>
						</p>
						<span>
							Выпадение волос <br> и меры по его предотвращению 
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-recover-g"></i>
						</p>
						<span>
							Восстановление волос, правильный уход, стимулирование роста
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-season-g"></i>
						</p>
						<span>
							Сезонные особенности роста и выпадения
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-dandruff-g"></i>
						</p>
						<span>
							Избавляемся <br> от перхоти
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-packing-g"></i>
						</p>
						<span>
							Делаем правильно укладки и другие манипуляции
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-eyelashes-g"></i>
						</p>
						<span>
							Укрепление <br> и стимулирование роста ресниц
						</span>
					</a>
					<a href="facts-mifs.html" class="active problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-mifs-g"></i>
						</p>
						<span>
							Интересные факты <br> и мифы о волосах
						</span>
					</a>
				</nav>
			</div>
			{# end submenu #}
			
			{# content #}
			<div class="col-sm-9">
				<article class="article">
					<img class="article__img" src="/assets/images/bg/problm-img.jpg" alt="">
					<h4 class="crimson article__title">
						Мифы об осеннем уходе за волосами
					</h4>
					<p class="article__text">
						Этим летом наш Клуб открывает новый уникальный раздел – блоговая площадка «Дневники Клуба «ВЕРТЕКС». Теперь каждый участник может завести свой личный дневник-блог Этим летом наш Клуб открывает новый уникальный
					</p>
					<a href="" class="article__link">
						Читать подробнее
					</a>
				</article>
				<article class="article">
					<img class="article__img" src="/assets/images/bg/problm-img.jpg" alt="">
					<h4 class="crimson article__title">
						Раздвоение личности: как бороться <br> с секущимися кончиками
					</h4>
					<p class="article__text">
						Этим летом наш Клуб открывает новый уникальный раздел – блоговая площадка «Дневники Клуба «ВЕРТЕКС». Теперь каждый участник может завести свой личный дневник-блог Этим летом наш Клуб открывает новый уникальный
					</p>
					<a href="" class="article__link">
						Читать подробнее
					</a>
				</article>
				<article class="article">
					<img class="article__img" src="/assets/images/bg/problm-img.jpg" alt="">
					<h4 class="crimson article__title">
						Мифы об осеннем уходе за волосами
					</h4>
					<p class="article__text">
						Этим летом наш Клуб открывает новый уникальный раздел – блоговая площадка «Дневники Клуба «ВЕРТЕКС». Теперь каждый участник может завести свой личный дневник-блог Этим летом наш Клуб открывает новый уникальный
					</p>
					<a href="" class="article__link">
						Читать подробнее
					</a>
				</article>
				<article class="article">
					<img class="article__img" src="/assets/images/bg/problm-img.jpg" alt="">
					<h4 class="crimson article__title">
						Мифы об осеннем уходе за волосами
					</h4>
					<p class="article__text">
						Этим летом наш Клуб открывает новый уникальный раздел – блоговая площадка «Дневники Клуба «ВЕРТЕКС». Теперь каждый участник может завести свой личный дневник-блог Этим летом наш Клуб открывает новый уникальный
					</p>
					<a href="" class="article__link">
						Читать подробнее
					</a>
				</article>

				
				<div class="paginator">
					<div class="paginator__prev dib">
						<a href="" class="paginator__link">
							Предыдущая
						</a>
					</div>
					
					<div class="paginator__number dib">
						<a href="" class="paginator__link">1</a>
						<a href="" class="paginator__link active">2</a>
						<a href="" class="paginator__link">3</a>
						<p class="dib">...</p>
						<a href="" class="paginator__link">19</a>
						<a href="" class="paginator__link">20</a>
						<a href="" class="paginator__link">21</a>
					</div>

					<div class="paginator__next dib">
						<a href="" class="paginator__link">
							Следующая
						</a>
					</div>
				</div>


				<div class="sharing">
					<h5><span>Поделиться</span></h5>
					<a target="_blank" href="http://vkontakte.ru/share.php?url=http://alerana.ru/" class="sharing-link sharing-link--vk">
						<i class="sprite sprite-vk"></i>
					</a>
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://alerana.ru/" class="sharing-link sharing-link--fb">
						<i class="sprite sprite-fb"></i>
					</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?source=http://alerana.ru/" class="sharing-link sharing-link--tw">
						<i class="sprite sprite-tw"></i>
					</a>
					<a target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http://alerana.ru/" class="sharing-link sharing-link--ok">
						<i class="sprite sprite-ok"></i>
					</a>
					<a target="_blank" href="http://connect.mail.ru/share?url=http://alerana.ru/" class="sharing-link sharing-link--mail">
						<i class="sprite sprite-mail"></i>
					</a>
					<a target="_blank" href="https://plus.google.com/share?url=http://alerana.ru/" class="sharing-link sharing-link--google">
						<i class="sprite sprite-google"></i>
					</a>
				</div>

			</div>
			{# end content #}
		</div>
	</div>
</div>
{% endblock %}