{% set images = '/assets/images' %}
{% extends "layouts/layout.twig" %}

{% block breadCrumbs %}
	{% include 'include/breadCrumbs/faq-internal.twig' %}
{% endblock %}

{% block content %}
<div class="js-page page page-faq-internal">
	<div class="wrap">
		<div class="row">

		{# submenu #}
			<div class="col-sm-3">
				<aside class="aside">
					<form action="" class="js-form-aside form-aside form-aside--ask-question">
						<h4 class="form-aside__title">
							Задать Вопрос
						</h4>
						<p class="form-aside__required">
							Все поля обязательны для заполнения
						</p>
						<div>
							<input class="form-aside__input input-control input-name" type="text" placeholder="Имя">
							<span class="js-validText"></span>
						</div>
						<div>
							<input class="form-aside__input input-control input-mail" type="text" placeholder="E-mail">
							<span class="js-validText"></span>
						</div>
						<div>
							<textarea class="form-aside__textarea input-control" name="" id="" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
							<span class="js-validText"></span>
						</div>
						<button class="aside-button form-aside__button">Отправить</button>
					</form>
					<a href="popup-message.html" class="js-popup-message"></a>
				</aside>
			</div>
			{# end submenu #}
			
			{# content #}
			<div class="col-sm-9">

				<div class="row">
					<div class="col-sm-7">
						<form action="" class="form-search-question">
							<input type="text" class="search-question__input" placeholder="Поиск вопроса">
							<button class="search-question__button"><i class="sprite sprite-search-question"></i></button>
						</form>
					</div>

					<div class="col-sm-5">

						<div class="dropdown dropdown-on">
					        <div class="dropdown-button">
					          <span class="dropdown-button-title">
					          	Перейти на другую тему
					          </span>
					          <i class="ico ico-arr-down dropdown-arr"></i>
					        </div>
					        <ul class="dropdown-menu">
					          <li class="dropdown-menu-item" >
					            <a href="faq_internal-general-questions.html" class="dropdown-menu-title">
					            	Общие вопросы
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="faq_internal.html" class="dropdown-menu-title">
					            	Спреи для наружного применения 2 и 5%
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="" class="dropdown-menu-title">
					            	Сыворотка для роста волос
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="" class="dropdown-menu-title">
					            	Витаминно-минеральный комплекс
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="faq_internal.html" class="dropdown-menu-title">
					            	Средства для укрепления волос
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="" class="dropdown-menu-title">
					            	Шампуни, бальзам-ополаскиватель, маска
					            </a>
					          </li>
					          <li class="dropdown-menu-item">
					            <a href="" class="dropdown-menu-title">
					            	Стимулятор роста ресниц и бровей
					            </a>
					          </li>
					        </ul>
					      </div>
					</div>
				</div>
				


				<div class="faq-block">
					<div class="faq-block__question">
						<p class="article__time">
							22 ноября 2015 в 12:45
						</p>
						<h4 class="faq-block__messenger-name">
							Елена
						</h4>
						<p>
							Добрый день! Читая вопросы по бальзаму-спрею у меня закрался вопрос. Как так, в феврале 2012 года вы мужчине отвечаете, что основной компонент спрея был заменен на миноксидил (был пинацедил). А в декабре 2012 женщине отвечаете, что действующее вещество бальзама-спрея - пинацидил. Я не поняла этот момент. Так все же какое? 
						</p>						
					</div>

					<div class="faq-block__answer">
						<p class="article__time">
							22 ноября 2015 в 12:45
						</p>
						<h4 class="faq-block__messenger-name">
							Специалист компании «ВЕРТЕКС»
						</h4>
						<p>
							Добрый день! Возможно, у какого-то из этих ответов стоит неверная дата. В действительности ранее компонентом бальзама-спрея был пинацидил. В настоящее время средство называется «спрей для наружного применения», и действующее вещество этого препарата - миноксидил. На сайте есть информация о замене позиций: <a href="">http://alerana.ru/news/5721/</a>
						</p>						
					</div>					
				</div>


				<div class="faq-block">
					<div class="faq-block__question">
						<p class="article__time">
							22 ноября 2015 в 12:45
						</p>
						<h4 class="faq-block__messenger-name">
							Александр
						</h4>
						<p>
							Добрый день! После посещения трихолга, по его рекомендации, использую регулярно бальзам спрей уже в течение десяти месяцев. Выпадение волос в лобной части головы (залысины) продолжает прогрессировать, площадь облысения увеличивается. Никакого положительного эффекта от применения нет. Чем можете объяснить. 
						</p>						
					</div>

					<div class="faq-block__answer">
						<p class="article__time">
							22 ноября 2015 в 12:45
						</p>
						<h4 class="faq-block__messenger-name">
							Специалист компании «ВЕРТЕКС»
						</h4>
						<p>
							Добрый день! Благодарим Вас за лояльность к нашей продукции! Для того, чтобы выяснить причину длительного отсутствия эффекта, необходимо  в первую очередь удостовериться в правильном использовании средства. Если Вы правильно использовали бальзам-спрей (ежедневно, 1-2 раза в день), не прерывали курс, четко выполняли указания инструкции – эффект должен быть (при условии, что волосяные  луковицы не атрофированы). То есть, в первую очередь следует убедиться, что волосяные фолликулы живы и способны производить волос.
						</p>
						<p>
							Бальзам-спрей ALERANA помогает при всех видах выпадения волос – при  условии, что волосяные луковицы не атрофированы, и способны продуцировать  волос.
						</p>
						<p>
							Проконсультировать Вас о причине выпадения, волос сможет врач (дерматолог, трихолог). В любом случае,  если при  правильном длительном применении бальзама-спрея не наблюдается  видимого эффекта,  рекомендуется обратиться к специалисту – если бальзам-спрей применяется правильно, а эффекта нет, это может сигнализировать о каких-либо проблемах со здоровьем. Кроме того,  врач, в соответствии с индивидуальными особенностями организма (при необходимости) поможет скорректировать  лечение и подобрать оптимальные средства для решения Вашей проблемы.
						</p>						
					</div>					
				</div>
				
				

				<div class="paginator">
					<div class="paginator__prev dib">
						<a href="" class="paginator__link">
							Предыдущая
						</a>
					</div>
					
					<div class="paginator__number dib">
						<a href="" class="paginator__link">1</a>
						<a href="" class="paginator__link active">2</a>
						<a href="" class="paginator__link">3</a>
						<p class="dib">...</p>
						<a href="" class="paginator__link">19</a>
						<a href="" class="paginator__link">20</a>
						<a href="" class="paginator__link">21</a>
					</div>

					<div class="paginator__next dib">
						<a href="" class="paginator__link">
							Следующая
						</a>
					</div>
				</div>
				


				<div class="sharing">
					<h5><span>Поделиться</span></h5>
					<a target="_blank" href="http://vkontakte.ru/share.php?url=http://alerana.ru/" class="sharing-link sharing-link--vk">
						<i class="sprite sprite-vk"></i>
					</a>
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://alerana.ru/" class="sharing-link sharing-link--fb">
						<i class="sprite sprite-fb"></i>
					</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?source=http://alerana.ru/" class="sharing-link sharing-link--tw">
						<i class="sprite sprite-tw"></i>
					</a>
					<a target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http://alerana.ru/" class="sharing-link sharing-link--ok">
						<i class="sprite sprite-ok"></i>
					</a>
					<a target="_blank" href="http://connect.mail.ru/share?url=http://alerana.ru/" class="sharing-link sharing-link--mail">
						<i class="sprite sprite-mail"></i>
					</a>
					<a target="_blank" href="https://plus.google.com/share?url=http://alerana.ru/" class="sharing-link sharing-link--google">
						<i class="sprite sprite-google"></i>
					</a>
				</div>

			</div>
			{# end content #}
		</div>
	</div>
</div>
{% endblock %}