{% set images = '/assets/images' %}
{% extends "layouts/layout.twig" %}


{% block content %}
<div class="js-page page page-index">

	
	<div class="slider-wrap">
		<ul class="slider-on">
		  <li class="slider-item">	
			  <div class="slider-text">
			  	<p class="slider-text__title">
		    		<b>остановить</b> <br>выпадение волос
		    	</p>
					<p class="slider-text__description">
						уже через 6 недель в 87% случаев*
					</p>
					<a href="" class="slider__button">
						Подробнее
					</a>					
		  	</div>
		  	<i class="slider-text__note">
						*Открытое несравнительное исследование по оценке эффективности, безопасности 
						и переносимости лекарственного препарата ALERANA(2% и 5% раствор миноксидила), Военно-медицинская академия имени С.М. Кирова, 2012 г. (6 недель/4 месяца) 
					</i>	  	
    		<div class="slider-item__img">
    			<img src="/assets/images/slider/slider1.png" alt="">	
    		</div>	      	
		  </li>
		  <li class="slider-item">
		  	<div class="slider-text">
			  	<p class="slider-text__title">
		    		<b>Укрепить</b> <br>ослабленные волосы
		    	</p>
					<p class="slider-text__description">
						усилить питание корней,<br> восстановить структуру волос
					</p>
					<a href="" class="slider__button">
						Подробнее
					</a>
		  	</div>	
		  	<div class="slider-item__img">
		  		<img src="/assets/images/slider/slider2.png" alt="">	
		  	</div>		  	
		  </li>
		  <li class="slider-item">
		  	<div class="slider-text">
			  	<p class="slider-text__title">
		    		<b>стимулировать</b> <br>рост волос
		    	</p>
					<p class="slider-text__description">
						оздоровить волосяные фолликулы,<br> ускорить рост волос
					</p>
					<a href="" class="slider__button">
						Подробнее
					</a>
		  	</div>	
		  	<div class="slider-item__img">
		  		<img src="/assets/images/slider/slider3.png" alt="">	
		  	</div>		  	
		  </li>
		  <li class="slider-item">
		  	<div class="slider-text">
			  	<p class="slider-text__title">
		    		<b>интенсивное</b> <br>питание волос
		    	</p>
					<p class="slider-text__description">
						18 активных компонентов для роста<br> здоровых волос
					</p>
					<a href="" class="slider__button">
						Подробнее
					</a>
		  	</div>
		  	<div class="slider-item__img">
		  		<img src="/assets/images/slider/slider4.png" alt="">	
		  	</div>		  	
		  </li>
		  <li class="slider-item">
		  	<div class="slider-text">
			  	<p class="slider-text__title">
		    		<b>укрепить и стимулировать</b> <br>рост ресниц
		    	</p>
					<p class="slider-text__description">
						2 формулы «день» и «ночь» с учетом<br> суточного ритма роста ресниц
					</p>
					<a href="" class="slider__button">
						Подробнее
					</a>
		  	</div>
		  	<div class="slider-item__img">
		  		<img src="/assets/images/slider/slider5.png" alt="">	
		  	</div>		  	
		  </li>
		</ul>
	</div>

	<div class="wrap">
		<div class="row">
			<div class="col-sm-4">
				<div class="bg-white"></div>
				<a href="problem.html" class="index-link index-link--sm index-link--to-problem" style="background-image: url(/assets/images/index/bg/problem.jpg);">
					<i class="sprite sprite-problem"></i>
					<h3 class="index-link__title">
						<b class="crimson">О  проблеме</b>
						Выпадения волос
					</h3>
					<p>
						Почему выпадают волосы? <br>
						Как активизировать рост волос?
					</p>
				</a>
			</div>
			<div class="col-sm-4">
				<div class="bg-white"></div>
				<a href="consultation.html" class="index-link index-link--sm index-link--to-consultation" style="background-image: url(/assets/images/index/bg/doc.jpg);">
					<div class="index-link__doc-img" style="background-image: url(/assets/images/index/triholog.jpg);"></div>
					<div class="index-link__info">
						<h3 class="index-link__title crimson">
							консультация трихолога
						</h3>
						<p>
							Задайте вопрос врачу-трихологу
						</p>
					</div>
				</a>
			</div>
			<div class="col-sm-4">
				<div class="bg-white"></div>
				<a href="" class="index-link index-link--sm index-link--to-diagnostics">
					<i class="sprite sprite-diagnostics"></i>
					<h3 class="index-link__title">
						Пройти диагностику волос 
					</h3>
					<p>
						Пройдите диагностику волос <br>
						и подберите правильный уход
					</p>
				</a>
			</div>




			<div class="col-sm-4">
				<a href="problem_internal.html" class="index-link index-link--lg index-link--to-main-article" style="background-image: url(/assets/images/index/bg/special.jpg);">
					<div class="index-link__info">
						<p>
							Узнайте больше о
						</p>
						<h3 class="index-link__title crimson">
							<b>Мнение специалиста </b>о выпадении волос
						</h3>
					</div>
				</a>
				<a href="problem_internal.html" class="index-link index-link--xs index-link--to-article">
					<h4 class="index-link--to-article__title">
						Как остановить выпадение волос?
					</h4>
					<p class="index-link--to-article__text">
						Густые и здоровые волосы — залог отличноговнешнего вида 
					</p>
				</a>
				<a href="problem_internal.html" class="index-link index-link--xs index-link--to-article">
					<h4 class="index-link--to-article__title">
						Мнение специалиста о выпадении волос
					</h4>
					<p class="index-link--to-article__text">
						Густые и здоровые волосы — залог отличноговнешнего вида 
					</p>
				</a>
				<a href="" class="index-link index-link--xs index-link--to-article">
					<h4 class="index-link--to-article__title">
						Мнение специалиста
					</h4>
					<p class="index-link--to-article__text">
						Густые и здоровые волосы — залог отличноговнешнего вида 
					</p>
				</a>
				<a href="" class="index-link index-link--xs index-link--to-article">
					<h4 class="index-link--to-article__title">
						Как остановить выпадение волос?
					</h4>
					<p class="index-link--to-article__text">
						Густые и здоровые волосы — залог отличноговнешнего вида 
					</p>
				</a>
				<a href="" class="index-link index-link--xxs index-link--to-article">
					<p class="index-link--to-article__text">
						Все статьи
					</p>
				</a>
			</div>

			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<a href="" class="index-link index-link--lg index-link--to-product">
							<div class="index-link--to-product__text">
								<h3 class="index-link__title">
									Серия <b class="crimson">Alerana®</b>
								</h3>
								<p>
									Серия средств от выпадения волос ALERANA® разработанаспециально для лечения интенсивного выпадения волос и стимуляции их роста, а также укрепления и улучшения состояния ослабленных, склонных к выпадению волос.
								</p>
								<p>
									Узкая специализация серии ALERANA® на решении проблемы выпадения волос позволила бренду ALERANA® стать экспертом в данной области и уверенно занять лидирующие позиции на российском рынке средств для стимуляции роста волос.
								</p>
							</div>
							<div class="index-link--to-product__img">
								<img src="/assets/images/index/product.jpg" alt="">
							</div>
						</a>
					</div>

					<div class="col-sm-6">
						<a href="facts-mifs.html" class="index-link index-link--md index-link--to-clinicalstudy" style="background-image: url(/assets/images/index/bg/cliniс.jpg);">
							<div class="index-link__info">
								<h3 class="index-link__title">
									Клинические исследования
								</h3>
							</div>
						</a>
					</div>

					<div class="col-sm-6">
						<a href="news-acsii_internal.html" class="index-link index-link--md index-link--to-acsii" style="background-image: url(/assets/images/index/bg/sets.jpg);">
							<div class="index-link__info">
								<h3 class="index-link__title">
									<span class="crimson">Промо-наборы </span>ALERANA®
								</h3>
								<p>
									При покупке набора бальзам в подарок
								</p>
							</div>
						</a>
					</div>

					<div class="col-sm-6">
						<div class="index-link index-link--md index-link--to-vervex">
							<h3 class="index-link__title">
								Фармацевтическая <b>компания «ВЕРТЕКС»</b> 
							</h3>
							<p>
								Продукцию ALERANA® производит
								фармацевтическая компания «ВЕРТЕКС».
								Компания обладает собственной
								научно-исследовательской базой.
								Производство лекарств соответствует
								стандарту GMP в России.
							</p>
							<a href="http://vertex.spb.ru/" target="_blank">
								Перейти на сайт производителя
							</a>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="index-link index-link--md index-link--to-vervexclub">
							<h3 class="index-link__title">
								<b class="crimson">Сегодня</b> в «вертекс» клубе
							</h3>
							<p>
								Развлекательные <br>
								события, конкурсы,  <br>
								викторины,  <br>
								кроссворды
							</p>
							<a href="https://vertex-club.ru/" target="_blank">
								Вступить в клуб
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
