{# fancybox #}
<div class="popup-message" style="width: 400px;">
	<h4 class="popup-message__title">
		Сообщение отправлено
	</h4>
	<p class="popup-message__text">
		Спасибо! Ваш отзыв очень важен для нас
	</p>
</div>
{# fancybox #}