{% set images = '/assets/images' %}
{% extends "layouts/layout.twig" %}

{% block breadCrumbs %}
	{% include 'include/breadCrumbs/problem-internal.twig' %}
{% endblock %}

{% block content %}
<div class="js-page page page-problem-internal">
	<div class="wrap">
		<div class="row">

		{# submenu #}
			<div class="col-sm-3 page-submenu page-problem__submenu">
				<nav>
					<a href="problem.html" class="active problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-about-g"></i>
						</p>
						<span>
							О проблеме
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-clinik-g"></i>
						</p>
						<span>
							Клинические исследования
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-p-fallout-g"></i>
						</p>
						<span>
							Выпадение волос <br> и меры по его предотвращению 
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-recover-g"></i>
						</p>
						<span>
							Восстановление волос, правильный уход, стимулирование роста
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-season-g"></i>
						</p>
						<span>
							Сезонные особенности роста и выпадения
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-dandruff-g"></i>
						</p>
						<span>
							Избавляемся <br> от перхоти
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-packing-g"></i>
						</p>
						<span>
							Делаем правильно укладки и другие манипуляции
						</span>
					</a>
					<a href="" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-eyelashes-g"></i>
						</p>
						<span>
							Укрепление <br> и стимулирование роста ресниц
						</span>
					</a>
					<a href="facts-mifs.html" class="problem-submenu__link submenu__link">
						<p class="icon">
							<i class="sprite sprite-mifs-g"></i>
						</p>
						<span>
							Интересные факты <br> и мифы о волосах
						</span>
					</a>
				</nav>
			</div>
			{# end submenu #}
			
			{# content #}
			<div class="col-sm-9">
				<div class="page-content">
					<div class="page-text">
						<h1>
							Механизм действия спреев для наружного применения 2% и 5% ALERANA
						</h1>

						<p>
							Активное вещество спреев для наружного применения 2% и 5% ALERANA является миноксидил, который принадлежит к группе активаторов калиевых каналов. На сегодняшний день препараты на основе миноксидила являются одними из наиболее востребованных наружных препаратов для лечения различных видов алопеций.
						</p>
						<h4>
							Немного истории
						</h4>
						<p>
							Ранее миноксидил применялся как сильное антигипертензивное средство. При приеме внутрь ученые обратили внимание на любопытный побочный эффект – усиленный рост волос. Оказалось, что миноксидил может не только расслаблять кровеносную систему, но и ускорять перенос крови в волосяные фолликулы. В результате чего возникла идея использовать миноксидил местно для лечения облысения. Идея оказалась удачной, т.к. при местном рименении все побочные эффекты исчезли, а влияние на рост волос стало более выраженным.
						</p>
						<h4>
							Механизм развития алопеции
						</h4>
						<p>
							Механизм развития андрогенетической алопеции связан с наличием в крови мужского полового гормона - дигидротестостерона, который регулирует рост и выпадение волос: стимулирует выпадение андрогензависимых волос на волосистой части головы и рост андрогензависимых волос на лице, подмышках, лобке, туловище и конечностях. Дигидростестостерон - это биологически активная форма тестостерона, которая образуется под воздействием некоторого фермента (5-альфа-редуктазы, находящегося в волосяных фолликулах). При этом тестостерон есть как мужчин, так и у женщин, но в разном количестве.
						</p>
						

						<p class="page-text__quotes">
							<b>Миноксидил:</b> изменяет воздействие андрогенов на волосяные мешочки. И уменьшает образование 5-альфа-дегидротестостерона, играющегосущественную роль при выпадении волос, что делает миноксидил эффективным, в том числе, при лечении андрогенной алопеции.
						</p>

						<b>
							В результате неблагоприятного воздействия дигидротестостерона или внешних факторов:
						</b>
						<ul>
							<li>
								Питание фолликулов ухудшается: они не достигают максимальной величины и поэтому начинают производить тонкий и слабый волос
							</li>
							<li>
								Продолжительность фазы роста сокращается: волос не достигает обычной длины, быстрее выпадает
							</li>
							<li>
								Нарушается равновесие: процент волос, находящихся в фазе роста, уменьшается, а число фолликулов в фазе телогена увеличивается; дневная потеря волос увеличивается
							</li>
						</ul>
						<p>
							Причины облысения волос могут быть как внешними (стрессы, инфекции, травмы кожи головы), так и внутренними (гормональные, аутоиммунные, инфекционные, генетические).
						</p>

						<h4>
							Миноксидил – активное вещество спреев для наружного применения 2% и 5% ALERANA®
						</h4>

						<b>
							Миноксидил действует непосредственно на волосяные фолликулы, оказывая комплексное воздействие:
						</b>

						<ul>
							<li>
								Изменяет сосудистый тонус, улучшает питание и укрепляет корни волос за счет усиления притока крови в коже головы
							</li>
							<li>
								Стимулирует переход волосяных фолликулов в активную фазу роста
							</li>
							<li>
								Изменяет воздействие андрогенов на волосяные мешочки
							</li>
							<li>
								Уменьшает образование 5-альфа-дегидротестерона (возможно, опосредованно), который играет существенную роль при выпадении волос
							</li>
						</ul>

						<img src="/assets/images/product-card/text-img.jpg" alt="" class="page-text__sub-img">
						
						<b>
							Таким образом, спрей для наружного применения ALERANA:
						</b>

						<ul>
							<li>
								Останавливает повышенное выпадение волос
							</li>
							<li>
								Стимулирует рост новых волос
							</li>
							<li>
								Увеличивает длительность фазы активного роста
							</li>
							<li>
								Повышает густоту волос
							</li>
						</ul>

						<b>
							Стоит помнить:
						</b>
						<p>
							Миноксидил оказывает наилучший эффект при небольшой давности облысения (не более 10 лет), молодом возрасте пациента, если диаметр очага алопеции не превышает 10 см, если в центре лысины ещё имеется более 100 терминальных и пушковых волос.
						</p>

						<b>
							Более подробная информация:
						</b>
						
						<a href="" class="db">
							Спрей для наружного применения 2%
						</a>
						<a href="" class="db">
							Спрей для наружного применения 5%
						</a>
						<a href="" class="db">
							Эффективность использования ALERANA 2% и 5% раствор миноксидила, 6 недель
						</a>

					</div>
				</div>


				<div class="read-also">
					<h3 class="read-also__title">
						Последние публикации
					</h3>
					<div class="row read-also__itemBlock">
						<div class="col-sm-4">
							<div class="read-also__item">
								<h4 class="read-also__item__title">
									<span>
										Мифы об осеннем <br> уходе за волосами
									</span>
								</h4>
								<p>
									В серии средства от интенсивного выпадения волос ALERANA® появилась новинка – сыворотка
								</p>
								<a href="" class="read-also__link">
									Читать подробнее
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="read-also__item">
								<h4 class="read-also__item__title">
									<span>
										Правильное питание для волос
									</span>
								</h4>
								<p>
									Приглашаем пациентов с андрогенетической алопецией для участия в клиническом исследовании
								</p>
								<a href="" class="read-also__link">
									Читать подробнее
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="read-also__item">
								<h4 class="read-also__item__title">
									<span>
										Выпадение волос <br> на голове
									</span>
								</h4>
								<p>
									В серии средства от интенсивного выпадения волос ALERANA® появилась новинка – сыворотка
								</p>
								<a href="" class="read-also__link">
									Читать подробнее
								</a>
							</div>
						</div>
					</div>
				</div>
				

				<div class="sharing">
					<h5><span>Поделиться</span></h5>
					<a target="_blank" href="http://vkontakte.ru/share.php?url=http://alerana.ru/" class="sharing-link sharing-link--vk">
						<i class="sprite sprite-vk"></i>
					</a>
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://alerana.ru/" class="sharing-link sharing-link--fb">
						<i class="sprite sprite-fb"></i>
					</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?source=http://alerana.ru/" class="sharing-link sharing-link--tw">
						<i class="sprite sprite-tw"></i>
					</a>
					<a target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http://alerana.ru/" class="sharing-link sharing-link--ok">
						<i class="sprite sprite-ok"></i>
					</a>
					<a target="_blank" href="http://connect.mail.ru/share?url=http://alerana.ru/" class="sharing-link sharing-link--mail">
						<i class="sprite sprite-mail"></i>
					</a>
					<a target="_blank" href="https://plus.google.com/share?url=http://alerana.ru/" class="sharing-link sharing-link--google">
						<i class="sprite sprite-google"></i>
					</a>
				</div>


			</div>
			{# end content #}
		</div>
	</div>
</div>
{% endblock %}